@import "../../styles/variables";

$box-shadow: 1px 1px 4px 0px rgba(var(--color-dm-very-dark-blue), 0.2);

.country-info {
  padding: 3rem 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 0.8rem;
  width: 80vw;
  height: 80vh;

  &__not-found {
    font-size: 2.5rem;
    align-self: center;
  }

  &__go-back {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 0.5rem;
    line-height: 0;
    width: max-content;
    background-color: var(--background-color);
    padding: 0.6rem 1.7rem;
    border-radius: 5px;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    cursor: pointer;
    transition: background-color 0.1s linear;

    ion-icon {
      font-size: inherit;
    }

    &:hover {
      background-color: rgba(var(--color-dm-very-dark-blue), 0.1);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;

    &--flag {
      max-width: 40vw;
    }

    &__details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(50px, 1fr) repeat(4, max-content) max-content;
      grid-auto-flow: row;
      align-items: start;

      &--name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: start;
      }

      &--border-countries {
        grid-column: 1 / -1;
        grid-row: 6 / -1;
        align-self: center;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 1rem;

        span {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
        }

        &__container {
          display: flex;
          flex-wrap: wrap;
          gap: 0.4em 0.7rem;

          &__border-country {
            min-width: 5rem;
            background-color: var(--background-color);
            border-radius: 5px;
            padding: 0.1rem 0.4rem;
            box-shadow: $box-shadow;
            -webkit-box-shadow: $box-shadow;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.1s linear;

            &:hover {
              background-color: rgba(var(--color-dm-very-dark-blue), 0.1);
            }
          }
        }
      }

      span {
        font-weight: 800;
        line-height: 2;
      }
    }
  }
}
