.country-info {
  padding: 3rem 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 0.8rem;
  max-width: 80vw;

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;

    &--flag {
      max-width: 40vw;
    }

    &__details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px repeat(6, 35px);
      grid-auto-flow: row;
      align-items: start;

      &--name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: start;
      }

      &--border-countries {
        grid-column: 1 / -1;
        grid-row: 6 / 8;
        align-self: center;
      }

      span {
        font-weight: 800;
        line-height: 2;
      }
    }
  }
}
