@import '../../styles/variables';

$box-shadow: 1px 1px 4px 0px rgba(var(--color-dm-very-dark-blue), 0.2);

.dropdown-filter-container {
  width: fit-content;
  justify-self: end;
  display: flex;
  justify-content: end;
  align-items: stretch;
  background-color: var(--background-color);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }

  select {
    padding: 0 2rem;
    width: 100%;
    background-color: var(--background-color);
    color: inherit;
    border: 0;
    font-family: $font-family;
    font-size: 1.2em;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1em;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 0.8em;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__custom-arrow {
    position: absolute;
    width: 3rem;
    height: 100%;
    background-color: var(--background-color);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      ion-icon {
        font-size: 26px;
      }
    }
  }
}
