@import '../../styles/variables';

.countries-container {
  padding: 3rem;
  margin-top: 3rem;
  width: 80vw;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
    margin-top: 4rem;
    width: 100vw;
  }

  &__countries {
    width: fit-content;
    display: grid;
    flex-direction: column;
    gap: 3rem;

    &__filters {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @media only screen and (max-width: $bp-medium) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
      }
    }

    &__countries {
      grid-column: 1/-1;
    }
  }
}
