@import '../../styles/variables';

:root {
  --color1: var(--color-dm-dark-blue);
  --color2: var(--color-dm-very-dark-blue);
  --color3: var(--color-lm-very-dark-blue);
}

[data-theme='dark'] {
  --color1: var(--color-white);
  --color2: var(--color-lm-very-light-grey);
  --color3: var(--color-lm-dark-grey);
}

/**
AUTHOR: Jon Marron
URL: https://codepen.io/jon-marron/pen/poyoXdK
**/

.loader-spinner {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
  &.one {
    stroke: var(--color3);
    animation: load 1.5s infinite;
  }
  &.two {
    stroke: var(--color2);
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }
  &.three {
    stroke: var(--color1);
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;
  &.one {
    fill: var(--color1);
    animation-delay: 0s;
  }
  &.two {
    fill: var(--color2);
    animation-delay: 0.1s;
  }
  &.three {
    fill: var(--color3);
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
