@import '../../styles/variables';

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    background-color: var(--background-color);
    position: fixed;
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 1px 1px 4px 0px rgba(var(--color-dm-very-dark-blue), 0.2);
    -webkit-box-shadow: 1px 1px 4px 0px rgba(var(--color-dm-very-dark-blue), 0.2);

    @media only screen and (max-width: $bp-mobile) {
      padding: 1rem 1rem;
    }
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75vw;

      &__title {
        font-weight: 800;
        font-size: 1.1em;
        cursor: pointer;

        @media only screen and (max-width: $bp-mobile) {
          font-size: 0.9em;
        }
      }

      &__dark-mode {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-weight: 800;
        font-size: 0.9em;
        cursor: pointer;

        @media only screen and (max-width: $bp-mobile) {
          font-size: 0.7em;
        }
      }
    }
  }
}
