@import "../../styles/variables";

$box-shadow: 0px 0px 8px 0px rgba(var(--color-dm-very-dark-blue), 0.2);

.country-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  aspect-ratio: 5/7;
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.1s linear;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }

  &__flag {
    object-fit: cover;
    aspect-ratio: 3/2;
  }

  &__info {
    padding: 0 1rem;

    &--name {
      margin-bottom: 0.4rem;
      font-size: 1em;
      font-weight: 800;
    }

    &--population,
    &--region,
    &--capital {
      font-size: 0.8em;

      span {
        font-weight: 800;
      }
    }
  }
}
